<!DOCTYPE html>
<html>
    <head>
        <script src = "../static/login.js"></script>
    </head>
        <body>
            <div class="container">
                <h1>Login</h1> 
                <form class="form" id="login" onsubmit="return false">
                    <label for="username">Username</label>
                    <input type="text" name="username" id = "username" required/>
                    <label for="password">Password</label>
                    <input type="text" name="password" id = "password" required />
                    <button type="submit">Login</button>
                    <output for="password, username", name = "output" id="output"></output>
                </form>
                <button id="register">Go to Register Page</button>
            </div>
        </body>
</html>