<!DOCTYPE html>
<html>
    <head>
        <script src = "../static/register.js"></script>
    </head>
        <body>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="container">
                <h1>Register</h1> 
                <form class="form" id="register" onsubmit="return false">
                    <label for="username">Username</label>
                    <input type="text" name="username" id = "username" required/>
                    <label for="password">Password</label>
                    <input type="text" name="password" id = "password" required />
                    <button type="submit">Register</button>
                    <output for="password, username", name = "output" id="output"></output>
                </form>
                <button id="login">Go to Login Page</button>
            </div>
            
        </body>
</html>